.videobg {
  width: 100vw;
}

.ttlHeader {
  position: absolute;
  top: 5%;
  left: 5%;
}

.ttlHeader h3 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-color: beige;
}

.ttlHeader h1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
  border-radius: 5px;
  color: beige;
  background-color: rgba(10, 10, 10, 0.61);
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.modalPic {
  background-color: red;
}

@media screen and (max-width: 719px) {
  .ttlHeader {
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
  }

  .ttlHeader h3 {
    font-size: 18px;
    font-weight: 700;
    padding: 0.5rem;
  }

  .ttlHeader h1 {
    font-size: 32px;
    font-weight: 800;
    padding: 0.5rem;
  }

}