main {
  height: 100vh;
  margin-bottom: 15rem;
}

.videobg {
  width: 100vw;
}

.ttlHeader {
  position: absolute;
  top: 25%;
  left: 5%;
}

.ttlHeader h3 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: .5rem 2rem;
  border-radius: 5px;
  background-color: beige;
}

.ttlHeader h1 {
  text-align: center;
  font-size: 7rem;
  font-weight: 900;
  border-radius: 5px;
  color: beige;
  background-color: rgba(10, 10, 10, 0.61);
  padding: .5rem 2rem;
  border-radius: 5px;
}