.container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: minmax(auto, 1fr);
  align-items: flex-start;
  justify-items: center;
  gap: .5em
}